input,
textarea {
  background-color: var(--color-secondary);
  color: var(--color-foreground);
  border: 1px solid var(--color-border);
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius);
  font-family: var(--font-sans);
}

input::placeholder,
textarea::placeholder,
label {
  color: var(--muted-foreground);
}

input:focus,
textarea:focus {
  outline: 2px solid var(--color-ring);
}

